.card-note {
  height: 200px;
  width: 320px;
  background-color: white;
  -webkit-box-shadow: 10px 10px 5px 1px rgba(173,173,173,0.74);
  -moz-box-shadow: 10px 10px 5px 1px rgba(173,173,173,0.74);
  box-shadow: 10px 10px 5px 1px rgba(173,173,173,0.74);
  padding: 20px;
  border-radius: 15px;
  transform: rotate(5deg);
  margin-top: 30px;
  margin-right: 40px;
}

.card-header{
  margin-bottom: 20px;
}

.card-title {
  font-size: 20px;
  color: #FD6A02;
  font-weight: 600;
  width: 225px;
}

.card-body {
  font-size: 14px;
  color: #FD6A02;
  text-align: justify;
  height: 135px;
  word-wrap: break-word;
  white-space: pre;
}

.card-footer{
  position: relative;
  top: -5px;
}

.card-date {
  font-size: 12px;
  color: #FD6A02;
  font-style: italic;
}

.float-right {
  float: right;
}

.gap {
  padding-right: 5px;
}

.orange {
  color: #FD6A02;
  cursor: pointer;
}